In [1]:
#f-strings includes some dynamic content
name = 'Jonathan'
s = f'Hello, {name}'
print(s)

Hello, Jonathan

In [13]:
#Setup
name = input('Enter your name: ').strip()

#Calculation
for index in range(len(name)): #what is index? Index is up to and not including 0 range provides reading string
    print(name[0:index + 1])

#report

Enter your name:  Jonathan

J
Jo
Jon
Jona
Jonat
Jonath
Jonatha
Jonathan

In [15]:
#option 1 manual version
index = 0 
for index, one_character in enumerate('abcd'):
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

In [ ]:
s = 'abcd' #string
look_for = 'c' # what I want to look for in the string

#pretend in doesn't exist
print('Start')
for one_character in s:
    print(f'Current character is {one_character}')

In [16]:
#While loops doesn't run on a sequence element by element. It's sort of like an if statement; has condition and checks it, if condition is true
#the block run, if the block id done, it goes back to condition and checks it again
#Block runs while condition is true, when false before first iteration, the block doesn't run

x = 5
while x > 0:
    print(x)
    x -= 1 #reduce x by 1 -- same syaing x = x-1
print('Done')

5
4
3
2
1
Done

In [27]:
#setup

total = 0

#Calculation
#turn into an integer
while total < 100:
    number = input('Enter a number: ').strip()
    if number.isdigit(): #if the user's input only contain digits
        
        n = int(number)
        
        total += n
else:
    
    print(f'Total is {total}')

Enter a number:  30
Enter a number:  30
Enter a number:  40

Total is 100

In [28]:
#Infinite loops
while True:
    name = input('Enter your name: ').strip()
    if name == '':
        break
    print(F'Hello, {name}!')

Enter your name:  Jon

Hello, Jon!

Enter your name:

In [37]:
#Setup
total = 0

while True:
    number = input('Enter string of digits: ').strip()
    if number == '': #'' empty string break
        break
    for one_character in number:
        if one_character.isdigit():
            total += int(one_character)
        else:
            print('contains a letter')
    
#report
print(f'total = {total}')

Enter string of digits:  123
Enter string of digits:  45
Enter string of digits:  56
Enter string of digits:

total = 26

In [ ]:
#List refresher
#List are containers for other objects. A list can contain any number of other objects, of any type, in any combination. However, it's traditiona
mylist = [] #empty list
mylist = [10,20,30,40]
mylist =[3] #returns 40
20 in mylist # true

mylist = [10, 20, 30, 40, 50]
mylist{1] = 'hello'
print(mylist) #{10, hello....] replaced index 1 with hello

mylist.append('hello') #append modifies the list
print(mylist) # [10, 20,30,40,50, 'hello']

In [40]:
#setup
digits = []
vowels = []
others = []

s = input('Enter a string: ').strip()

#Calculations
for one_character in s:
    if one_character.isdigit():
        digits.append(one_character)
    elif one_character in 'aeiou':
        vowels.append(one_character)
    else:
        others.append(one_character)
print(f'digits = {digits}')
print(f'vowels = {vowels}')
print(f'others = {others}')

Enter a string:  hello jon345!

digits = ['3', '4', '5']
vowels = ['e', 'o', 'o']
others = ['h', 'l', 'l', ' ', 'j', 'n', '!']

In [41]:
#converting values
#Weve seen, if data of one type, and we want to get its value in another type, we invoke the target type as a function
#if string contains digits, I can right int(s) to get int

s = 'abchd-ef-ghi'
s.split('_')

['abchd-ef-ghi']

In [42]:
s.split('e')

['abchd-', 'f-ghi']

In [44]:
#if you want to treat multiple whitespace characters as a single delimiter, then
#call str.split with NO ARGUMENTS. then, any run of space, \t, \n, \r, \v, in a row will be translated
#into boundary between two elements

s = 'This  is a sample sentence'
s.split()

['This', 'is', 'a', 'sample', 'sentence']

In [51]:
#setup
total = 0


#calc

while True:
    n = input('Enter one or more numbers with spaces: ').strip()
    if n == '':
        break
        for one_character in n.split:
            if one_character.isdigit(): #if the current word can be
                total += int(one_character)
            else:
                print('a number dummy')
        
        

#report
print(f'Total is {total}')

Enter one or more numbers with spaces:  10 20 30
Enter one or more numbers with spaces:  40 50
Enter one or more numbers with spaces:  40 abc
Enter one or more numbers with spaces:

Total is 0

In [54]:
#setup
numbers = [23, 654, 21, 9, 564, 92, 51, 177, 20, 15]

largest = numbers[0] #assume the largest number is the first element of numbers
smallest = numbers[0] #assume that the smallest number is the first element of numbers

for one_number in numbers:
    if one_number < smallest:
        smallest = one_number
    if one_number > largest:
        largest = one_number
print(f'largest = {largest}')
print(f'smallest = {smallest}')

largest = 654
smallest = 9

In [55]:
#Tuples
#typically, we create tuples with () and commas between element

t = (10, 20, 30, 40, 50)
t[1]

20

In [56]:
len(t)

5

In [57]:
#tuples are immutable
t = (10, 20)
type(t)

tuple

In [59]:
t = (10)
type(t)

int

In [60]:
#if you have have one value in parentheses, without commas,
#its just the value - not a tuple
#if you want a one-element, tuple, you need to use a comma!
t = (10,) #oh, now it's a tuple
type(t)

tuple

In [61]:
#define tuples another way, without parentheses, but with commas
#tuple unpacking
mylist = [10, 20, 30]

x = mylist #what is x
x,y,z = mylist

In [62]:
x

10

In [63]:
y

20

In [64]:
z

30

In [ ]:
#enumerate - gives us an index along with an object in a for loop

for index, one_item